# Required, remove render api key if you're not using render

SESSION_ID=kord_ai-Bc8zOBj9uyvcvllf
OWNER_NUMBER=918078346643
WORKTYPE=private
PREFIX=[.!?]
TIMEZONE=Asia/Kolkata 
OWNER_NAME=ᝃ🌷／𝐋𝐚𝐦𝐚 ★ 𝐖𝐚𝐞  ⥮㍍⭒
BOT_NAME=LAMA-WAE/々
RENDER_API_KEY=rnd_ueqzzMfitggxvK0noqXDC0Ek2dy0
